/** {
  border: black solid 1px;
}*/

body {
  background-image: url('images/map.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


.wrapper {
    text-align: center;
}

#herobutton {
    background-color: #8bc34a;
    margin-top: 30%;
    border-radius: 15px;
}

#logotext {
  color: white;
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
}

#logo {
  height: 45px;
  width: 40px;

}
